[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = '==1.0.2'
transbank-sdk-python = {editable = true, path = "./../transbank-sdk-python"}

[scripts]
serve = "env FLASK_ENV=development flask run"

[dev-packages]
pylint = "*"
