[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = '==1.0.2'
transbank-sdk = '==1.0.1'

[scripts]
serve = "python app.py"

[dev-packages]
pylint = "*"
